
  
  .container {
    /* width: 300px; */
    /* height: 200px; */
    perspective: 400px;
    margin: 40px auto;
  }

  .box {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;

  }

  .box :hover{
    transform: rotateY(-180deg);

  }

  .box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .box .front {
    background-color: red;
  }
  .box .back {
    background-color: green;
    /* transform: rotateY(180deg); */
  }

