div{
    width: 100px;
    height: 100px;
    background-color:rgb(231, 223, 223);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border:5px solid red;
    border-radius: 50%;
    transition: transform 0.4s;
    border-left-color: transparent;
    transform: rotate(1turn);
    animation-name:spin;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
@keyframes spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}