  * {
    margin:0;
    padding:0;
    box-sizing: border-box;

  }

    .parent{
    height: 500px;
    background-color: rgb(32, 170, 180);
    display:grid;
    /* grid-gap: 5px; */
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    /* grid-template-rows:auto auto 50px; */
    
    }

    .parent div{
    background-color: rgb(22, 170, 84);
    border: 2px solid black;  
    justify-content: center;
    align-items: center;
    display: flex;


    }
