  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

    .parent{
    height: 300px;
    width: 500px;
    background-color: rgb(32, 170, 180);
    display:grid;
    grid-gap: 5px;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:auto auto 50px;
    
    }
    .parent div{
    background-color:rgb(231, 26, 139);
    border:2px solid black;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    display: flex;
    }