  * {
    margin:0;
    padding:0;
    box-sizing: border-box;

  }

    .parent{
    height: 500px;
    width: 500px;
    display: flex;
    background-color: rgb(32, 170, 180);
    justify-content: center;
    align-items: center;

    
    }

    .parent div{
      transform: rotate(20deg);
      transform: translate(100px,51px);
      transform: skew(3deg,2deg);
    background-color: rgb(218, 182, 22);
    border: 2px solid rgb(16, 141, 58); 
    height: 200px;
    width: 200px; 
    justify-content: center;
    align-items: center;
    display: flex;
    }

div:hover{
    transform: scalex(1);
    opacity: 0.5;
    transition: 2s;

}




