  * {
    margin:0;
    padding:0;
    box-sizing: border-box;

  }

    .parent{
    height: 500px;
    width: 500px;
    display: flex;
    background-color: rgb(32, 170, 180);
    justify-content: center;
    align-items: center;

    
    }

    .parent div{
      transform:scale(1);
transform-origin:0 0; ;
    transform: rotate(15deg);
      background-color: rgb(218, 182, 22);
    border: 2px solid rgb(45, 68, 53); 
    height: 200px;
    width: 200px; 
    justify-content: center;
    align-items: center;
    display: flex;
    }


.parent .origin{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    top: 100%;
    right: 100%;
    transform: translate(0,-50%);
} 




