
  *{
    box-sizing: border-box;
    margin: 0;
}
.container {
  margin: 40px auto;
  width:100%;
}


.face {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  direction: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: red;
  animation-name:change-color;
  animation-duration: 9s;

}
@keyframes change-color {
  0% {background-color: red;}
  25% {background-color: blue;}
  50% {background-color: green;}
  75% {background-color: yellow;}
  100% {background-color: red;}
}